
build-Android-Release/*
build-Test-Android_for_armeabi_v7a_GCC_4_9_Qt_5_11_2_for_Android_ARMv7-Debug/*
build-Test-Android_for_armeabi_v7a_GCC_4_9_Qt_5_11_2_for_Android_ARMv7-Release/*
Test/.vs/*
Test/debug/*
Test/release/*
Test/Win32/*
Test/x64/*
Test/x86/*
Test/MicrosoftStore/x64/*
Test/MicrosoftStore/Release/*
Test/MicrosoftStore/Debug/*
Test/MicrosoftStoreLib/Release/*
Test/MicrosoftStoreLib/Debug/*
Test/MicrosoftStoreWRC/Release/*
Test/MicrosoftStoreWRC/Debug/*
Windows_App_Package/AppPackages/*
Windows_App_Package/bin/*